.card-produto {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.card-produto:hover {
  transform: scale(1.03);
}

.produto-imagem {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}
