.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 4.5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
}

.logo {
    margin-left: 5%;
    font-size: 2.5em;
    color: rgb(13, 48, 114);;
}

.links {
    display: flex;
    gap: 3.5rem;
    font-size: 1.4rem;

}

.links a {
    text-decoration: none;
    color: rgb(13, 48, 114);;
}

.searchContainer input {
    padding: 0.7rem 2.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.joinButton {
    background-color: rgb(13, 48, 114);
    color: white;
    padding: 0.7rem 2.5rem;
    border-radius: 20px;
    
}


.locale {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500; 
    margin-right: 5%;  
}