.containerDogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  padding-top: 0;
}

.viewMore { 
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  margin-top: 2%;
}

.classWhatsNew{
  width: 50%;  
}

.classWhatsNew p{
  font-size: 1.3rem;
  margin: 0;
  margin-left: 5%;
}

.classWhatsNew h3{
  font-size: 2rem;
  margin: 0;
  margin-left: 5%;
  color: #00204a;
}

.buttonViewMore {
  width: 12%;
  justify-content: center;
  text-decoration: none;
}

.buttonViewMore p{
  border-radius: 20PX;
  border: 1px solid #00204a;
  padding: 0.5rem 1.5rem;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 26%;
  transition: transform 0.2s ease-in-out;
  color: #00204a;
}

.buttonViewMore a{
  text-decoration: none;
}

.buttonViewMore p:hover{
  background-color: #b9b8b8;
  transform: translateY(-5px);
  transition: 0.2s;
}

.banner {
  background-image: url("../../assets/imgs/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin-left: 10%;
  height: 400px;
  border-radius: 20px;
}

.contentBanner {
  width: 40%;
  padding-left: 60%;
}

.contentBanner h2{
  padding-top: 10%;
  padding-left: 40%;
  font-size: 2.5rem;
  color: #00204a;
}

.contentBanner h3{
  padding-left: 47%;
  font-size: 1.5rem;
  color: #00204a;
}

.contentBanner p{
  font-size: 1.1rem;
  width: 65%;
  padding-left: 28%;
  text-align: justify;
  color: #00204a;
}

.buttonBanner {
  padding-left: 75%;
  padding-top: 2%;
}

.buttonBanner a{
  margin-right: 5%;
  border: 2px solid #00204a;
  padding: 1rem 2.2rem;
  border-radius: 20px;
  text-decoration: none;
}

.buttonOne {
  color: #00204a;
}

.buttonTwo {
  background-color: #00204a;
  color: #fdeac7;
}

.buttonViewMoreI {
  width: 13%;
  justify-content: center;
}

.buttonViewMoreI p{
  border-radius: 20PX;
  border: 1px solid #00204a;
  padding: 0.5rem 1.5rem;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 10%;
  transition: transform 0.2s ease-in-out;
  color: #00204a;
}

.buttonViewMoreI a{
  text-decoration: none;
}

.buttonViewMoreI p:hover{
  background-color: #b9b8b8;
  transform: translateY(-5px);
  transition: 0.2s;
}


.classWhatsNewI{
  width: 50%; 
  display: flex; 
  align-items: center;
}

.classWhatsNewI p{
  font-size: 1.3rem;
  margin: 0;
  margin-left: 5%;
}

.classWhatsNewI h3{
  font-size: 2rem;
  margin: 0;
  margin-left: 5%;
  color: #00204a;
}

.petSellers {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.petSellers img {
  height: 100px;
  width: 9.42%;
  padding-right: 2%;
}

.contentBannerI {
  width: 40%;
  padding-right: 60%;
}

.contentBannerI h2{
  padding-top: 10%;
  padding-left: 27%;
  font-size: 2.5rem;
  color: #00204a;
}

.contentBannerI h3{
  padding-left: 27%;
  font-size: 1.5rem;
  color: #00204a;
}

.contentBannerI p{
  font-size: 1.1rem;
  width: 65%;
  padding-left: 28%;
  text-align: justify;
  color: #00204a;
}

.buttonBannerI {
  padding-left: 12%;
  padding-top: 2%;
}

.buttonBannerI a{
  margin-right: 2%;
  border: 2px solid #00204a;
  padding: 1rem 2.2rem;
  border-radius: 20px;
  text-decoration: none;
}

.buttonOneI {
  color: #00204a;
}


.buttonTwoI {
  background-color: #00204a;
  color: #fdeac7;
}

.bannerI {
  background-image: url("../../assets/imgs/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin-left: 10%;
  height: 400px;
  border-radius: 20px;
}

.imgPlay{
  justify-content: center;
}

.cardDog{
  width: 80%;
  margin-left: 10%;
}

.footerFinale {
  background-color: wheat;
  height: 350px;
  padding-top: 3%;
}

.register {
  background-color: lab(22.98% 13.8 -42.45);
  display: flex;  
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
  height: 30%;
}

.registerRight {
  margin-top: 3%;
  margin-right: 3%;
  width: 42%;
}

.registerLeft {
  margin-left: 8%;
  width: 35%;
}

.registerLeft h2 {
  font-size: 2.2rem;
  color: white;
}


.registerRight input {
  padding: 0.8rem 7rem;
  border-radius: 20px;
  border: 2px solid gray;
  margin-right: 2%;
}

.registerRight a {
  background-color: hwb(214 0% 67%);
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 20px;
  border: solid hwb(214 0% 67%);
  text-decoration: none;
}

.pageLinks {
  display: flex;
  gap: 20px;
  width: 50%; 
}

.pageLinks li{
  display: inline;
  padding-right: 25%;
}

.pageLinks a{
  text-decoration: none;
  color: #292828;
}

.socialLinks {
  width: 10%
}

.socialLinks img{
width: 20px;
}


.socialLinks a:last-child{
padding-right: 0;
}

.socialLinks a{
  display: inline-block;
  padding-right: 15%;
}

.socialLinks a:hover{
  transform:  translateY(-5px);
  transition: transorm 0.5s ease;
}

.linksAndContacts {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
}

.linha {
  border: none;
  height: 2px;
  background-color: lab(64.82% 0.36 0.12);
  margin: 20px 0;
  width: 80%;
  margin-left: 10%;
}

.footerAgain {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between	;
  margin-top: 2%;
}

.footerLinks li{
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.footerLinks a{
  text-decoration: none;
  color: lab(47.73% 0.39 0.13);
}

.footerText p{
color: lab(47.73% 0.39 0.13);
}
